In [1]:
import numpy as np
import pandas as pd

In [2]:
import os

In [3]:
df = pd.read_csv('../Data/train.csv')

In [4]:
df.head()

         image_id  label
0  1000015157.jpg      0
1  1000201771.jpg      3
2   100042118.jpg      1
3  1000723321.jpg      1
4  1000812911.jpg      3

In [5]:
print(len(df))

21397

In [10]:
print(len(df) / len(df[df.label == 0])) 
print(len(df) / len(df[df.label == 1]))
print(len(df) / len(df[df.label == 2]))
print(len(df) / len(df[df.label == 3]))
print(len(df) / len(df[df.label == 4]))

19.684452621895126
9.774783005938785
8.967728415758591
1.6261589907280742
8.303065580131936